*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  height: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  justify-self: center;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
.content__details {
  display: flex;
  padding: 0;
  max-height: fit-content;
  width: 399px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__list {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  height: 298px;
  width: 100%;
  position: relative;
}
.search-form {
  display: flex;
  justify-content: start;
  width: 711px;
  object-fit: cover;
}
.result__video-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  position: relative;
  justify-self: right;
  height: 386px;
}
.result__video {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
  object-position: center;
  object-fit: cover;
}
.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}
.content__list {
  overflow-x: hidden;
}
.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.content__accent {
  color: rgb(84, 80, 80);
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}
.content__video-card {
  display: flex;
  align-content: start;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.content__video-card-description-container {
  width: max-content;
  padding-left: 2px;
}
.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 6px;
}
.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  text-decoration: none;
}
.content__card-link {
  text-decoration: none;
}
.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.button {
  margin: 0;
  padding: 0;
  background: transparent;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-end;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__fieldset:has(.search-form__textfield) {
  margin-right: 32px;
}
.search-form__fieldset {
  display: flex;
  border: none;
  flex-direction: column;
}
.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}
.search-form__label {
  display: flex;
  cursor: pointer;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  height: fit-content;
}
.search-form__textfield {
  appearance: none;
  display: flex;
  background: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px transparent;
  border-right: none;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  align-self: last baseline;
  padding-left: 2px;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__textfield:active {
  border: white 1px solid;
  outline: none;
  padding-left: 1px;
}
.search-form__label-text {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: middle;
}
.content__card-link {
  display: block;
  margin: 2px;
}
.content__card-link_current {
  background: #545050;
}
.content__video-card:active {
  background: #545050;
}
.button:active {
  background: #545050;
}
.search-form__label:has(:focus-visible):not(:active) {
  outline-offset: 1px;
  outline-width: 1px;
  outline-color: #fff;
  outline-style: solid;
}
.button:hover {
  text-decoration: underline;
}
.content__video-card:hover {
  text-underline-offset: 3px;
  text-decoration-color: #fff;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  text-decoration-line: underline;
}
.search-form__label:hover {
  .search-form__label-text {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: white 1px solid;
}

.button:focus {
  outline: none;
}
.search-form__submit-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
.more-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
.search-form__submit-button {
  margin-left: 19px;
}
.search-form__pseudo-checkbox {
  content: "";
  display: inline-block;
  width: 19px;
  position: relative;
  height: 19px;
  margin-right: 4px;
  margin-left: 1px;
  border: 1px solid #fff;
  align-self: center;
}
.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::before {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid black;
  background-color: #fff;
}
.more-button {
  width: 99%;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  justify-self: center;
}
